.minSize{
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
}
.centerWithBox{
  margin: 0 0 0 -20px;
  z-index: 99;
  cursor: pointer;
}
.smallIcon{
  font-size: 10px;
  cursor: pointer;
}
.numberOfElements{
  margin-top: 30px;
  min-width: 35px;
  display: inline-block;
  text-align: center;
}
.redIcon{
  color: #e27474;
}
.greenIcon{
  color: #6db386;
}
.centerPagination{
  justify-content: center;
}

.page-item{
  cursor: pointer;
}
.page-item .active{
  background-color: #e5eaea;
}
