<div class="m-5">
  <h1 class="text-center">Productos</h1>
  <hr>

  <div *ngIf="productsSelection && productsSelection.length > 0; else noProducts">
    <div class="row">
      <div class="col-12 mb-3" *ngFor="let productSelection of productsSelection;">
        <span class="fa-stack fa-lg float-right centerWithBox" (click)="addItem(productSelection)" title="Añadir al carrito">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
        </span>
        <app-product-selection [productData]="productSelection"></app-product-selection>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="pagination centerPagination">
          <li class="page-item" *ngFor="let item of [].constructor(numPages); let i = index">
            <a class="page-link text-info" [class.active]="actualPage === i" (click)="loadPage(i)" href="#">{{i+1}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <div class="row">
    <div class="col-12">
      <div class="text-center">No se han encontrado productos en el sistema.</div>
    </div>
  </div>
</ng-template>
