<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 flex-sm-row-reverse">
      <app-shopping-list (addToShoppingCart)="sendItemToCart($event)"></app-shopping-list>
    </div>
    <div class="col-lg-6 col-sm-12 flex-sm-row-reverse">
      <app-cart-list></app-cart-list>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
