<div class="m-5">
  <h1 class="text-center">Selección</h1>
  <hr>

  <div class="mt-4">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio total</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngIf="cart.numberItems > 0; else noItems">
        <tr *ngFor="let item of cart.items">
          <td>{{item.product.name}}</td>
          <td>
            <span class="fa-stack fa-lg smallIcon redIcon" (click)="decrement(item.product)">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
          </span>
            <div class="numberOfElements">{{item.quantity}}</div>
            <span class="fa-stack fa-lg smallIcon greenIcon" (click)="increment(item.product)">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>

          </td>
          <td>
            {{item.quantity * item.product.price | number:'1.2-2'}}€
          </td>
          <td>
            <i class="fa fa-trash deleteIcon redIcon" (click)="removeAllItem(item)"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noItems>
      <tbody>
        <tr class="text-center"><td colspan="4" >Ningún artículo en el carrito</td></tr>
      </tbody>
    </ng-template>
  </div>

  <div class="card">
    <div class="card-footer">
      <div class="footerElement">
        <span class="fa-stack fa-2x">
          <i class="fa fa-shopping-cart fa-stack-2x text-info"></i>
          <i class="fa fa-circle fa-stack-1x mt-n2"></i>
          <strong class="fa-stack-1x calendar-text mt-n2 textCart">{{cart.numberItems}}</strong>
        </span>
        <div class="totalElement"> <b>Total:</b> {{cart.total | number:'1.2-2'}}€</div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <button type="button" class="btn btn-outline-info btn-lg w-100" (click)="buy();">Comprar</button>
  </div>

</div>
