.textCart{
  font-size: 12px;
  color: white;
}

.totalElement{
  display: inline-block;
  float: right;
  margin-top: 20px;
}

.deleteIcon{
  cursor: pointer;
  font-size: 20px;
}
.smallIcon{
  font-size: 10px;
  cursor: pointer;
}
.numberOfElements{
  min-width: 35px;
  display: inline-block;
  text-align: center;
}
.redIcon{
  color: #e27474;
}
.greenIcon{
  color: #6db386;
}
